/* styles.css */
table {
  width: 100%;
  border-collapse: collapse;

}

table, th, td {
  
}
.textPDFCSV{
  color:white
}
th, td {
  padding: 10px;
  text-align: left;
}

/* Styling the header row */
thead {
  background-color: #f2f2f2;
}

/* Styling alternate rows */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
