.main_container {
  background-color: bisque;
  width: 100%;
  height: 100%;
}

h1 {
  color: red;
}


.App-header .Main_logo {
  width: 35px !important;
  height: 35px !important;
}

.App-header nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 3px solid rgb(255, 200, 0) !important;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-fluid{
  height: 100%;
}
.logo-navbar{
  height: 100%;
  position: relative;
}
.main-logo-nav{
  width: 250px;
  position: relative;
  height: 35px;
  margin-left: 30px;
  cursor: pointer;
}
.App-header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.App-header nav ul li {
  margin-right: 35px !important;
  background-color: transparent;

}

.App-header nav ul li a {
  text-decoration: none !important;
  font-size: 18px !important;
  font-weight: 600;
}

.App-header nav ul li a:hover {
  color: rgb(255, 200, 0) !important;
}


.nav-item.active a {
  color: rgb(255, 200, 0) ; 
  background-color: transparent;
}

.loginbtn {
  background-color: #00aeff !important;
  color: white !important;
  border: none !important;
  padding: 5px 25px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.loginbtn:hover {
  background-color: #0276ab !important;
  color: white !important;
  border: none !important;
  padding: 5px 25px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.container h1 {
  color: red;
}
.profile-img-user{
  height: 100%;
}
/* Media Query for Mobile Screens */
@media screen and (max-width: 768px) {
  .logo-navbar{
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-left: -1rem;
    margin-top: -4px;
  }
  .main-logo-nav{
    width: 180px;
    height: 35px;
    cursor: pointer;
  }

  .links-navbar {
    display: none;
    margin: 0;
    left: 0;
    background-color: white;
  }
  
  .links-navbar.open {
    animation: slideIn 0.5s ease-in-out forwards;
    margin-top: 6.5px;
    margin-left: -13px;
    margin-right: -12px;
    display: block;
    padding: 1rem;
    left: 0;
    position: relative;
    z-index: 800;
    background-color: white;
    box-shadow: 0px 4px 0px rgb(0, 0, 0);
    width: 100vw;
  }
  .links-navbar.closing {
    animation: slideOut 0.5s forwards; 
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .links-navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
  
  .links-navbar ul li {
    margin-bottom: 1.2rem;
  }
  
  .links-navbar ul li a {
    text-decoration: none;
    color: #333; /* Change color as per your design */
  }
  
  .links-navbar ul li a:hover {
    color: #555; /* Change color as per your design */
  }
}  